.NavigationItem {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    /* (to include padding and border in height) */
    height: 100%;
    /* (to take up 100% of available height) */
    align-items: center; 
    /* (aligns items on cross axis which in this case is vertical, so along the vertical access)  */
}

.NavigationItem a {
    color: white;
    height: 100%;
    text-decoration: none;
    /* (to remove the underline of the link) */
    padding: 4rem 2.5rem;
    border-bottom: 0.25rem solid transparent;
    /* (using 'transparent' so when 'clicked' we use the 'active' border-bottom which will put a line under it) */
    box-sizing: border-box;
    display: block; 
    /* (So height has an effect) */
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
    background-color: rgb(109, 101, 90);
    border-bottom: 0.25px solid rgb(32, 104, 11);
    color: white;
}